{% extends "nested_base.html" %}
{% block title %}{{ adventure.name }}{% endblock %}
{% block main_title %}{{ adventure.name }}{% endblock %}
{% block content %}
<section class="section">
    <div class="container">
        <div class="notification is-danger is-hidden" id="error">{{ error }}</div>
        <div>
            <div class="adventure-details">
                <p class="subheading">{{ adventure.type | replace("_", " ") | capitalize }}</p>
                <h3>Featuring:</h3>
                <ul>
                    {% for player in adventure.players %}
                    {% if player.role == "dm" %}
                    <!--TODO crown icon-->
                    <li>{{ player.username }} as Dungeon Master</li>
                    {% elif player.character %}
                    <li>{{ player.username }} as {{ player.character.name }}</li>
                    {% else %}
                    <li>{{ player.username }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% if user.id == adventure.dm.id %}
                {% if adventure.pending_invitations %}
                <h3>Pending Invitations:</h3>
                <ul>
                    {% for email in adventure.pending_invitations %}
                    <li>{{ email }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <button class="button" id="new-session-btn">New Session</button>
                <button class="button" id="invite-player-btn">Invite Player</button>
                {% else %}
                {% for player in adventure.players %}
                {% if player.id == user.id %}
                {% if not player.character %}
                <button class="button" id="create-character-btn">Create Character</button>
                {% endif %}
                {% endif %}
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
{% if user.id == adventure.dm.id %}
<div class="modal" id="invite-player-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Invite Player</p>
        </header>
        <section class="modal-card-body">
            <div class="notification is-danger is-hidden" id="invite-modal-error">{{ error }}</div>
            <form id="invite-player-form">
                <div class="field">
                    <label class="label">Email</label>
                    <div class="control">
                        <input class="input" type="email" placeholder="Enter email" name="email" required>
                    </div>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" type="submit" form="invite-player-form">Invite</button>
            <button class="button" id="cancel-invite-modal-btn">Cancel</button>
        </footer>
    </div>
</div>
<div class="modal" id="new-session-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">New Session</p>
        </header>
        <section class="modal-card-body">
            <div class="notification is-danger is-hidden" id="session-modal-error">{{ error }}</div>
            <label for="session-date">Select a date:</label>
            <input type="date" id="session-date">
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" type="submit" id="create-session-modal-btn">Create</button>
            <button class="button" id="cancel-session-modal-btn">Cancel</button>
        </footer>
    </div>
</div>
{% else %}
<div class="modal" id="create-character-modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Create Character</p>
        </header>
        <section class="modal-card-body">
            <div class="notification is-danger is-hidden" id="character-modal-error">{{ error }}</div>
            <form id="create-character-form">
                <div class="field">
                    <label class="label">Name</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="Enter name" name="name" required>
                    </div>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" type="submit" form="create-character-form">Create</button>
            <button class="button" id="cancel-character-modal-btn">Cancel</button>
        </footer>
    </div>
</div>
{% endif %}
<script>
    // Get the modal element
    let modal = NaN;
    let inviteModal = document.getElementById('invite-player-modal');
    let characterModal = document.getElementById('create-character-modal');
    let newSessionModal = document.getElementById('new-session-modal');
    if (inviteModal) {
        modal = inviteModal;
    } else if (characterModal) {
        modal = characterModal;
    }

    // Get the button that opens the modal
    let btn = NaN;
    let inviteBtn = document.getElementById('invite-player-btn');
    let characterBtn = document.getElementById('create-character-btn');
    let newSessionBtn = document.getElementById('new-session-btn');
    if (inviteBtn) {
        btn = inviteBtn;
    } else if (characterBtn) {
        btn = characterBtn;
    }

    // Get the cancel button
    let cancelBtn = NaN;
    let inviteCancelBtn = document.getElementById('cancel-invite-modal-btn');
    let characterCancelBtn = document.getElementById('cancel-character-modal-btn');
    let sessionCancelBtn = document.getElementById('cancel-session-modal-btn');
    if (inviteCancelBtn) {
        cancelBtn = inviteCancelBtn;
    } else if (characterCancelBtn) {
        cancelBtn = characterCancelBtn;
    }

    // When the user clicks the button, open the modal
    if (btn) {
        btn.onclick = function () {
            modal.classList.add('is-active');
        }
    }
    if (newSessionBtn && newSessionModal) {
        newSessionBtn.onclick = function () {
            newSessionModal.classList.add('is-active');
        }
    }

    // When the user clicks on the cancel button, close the modal
    if (cancelBtn) {
        cancelBtn.onclick = function () {
            modal.classList.remove('is-active');
        }
    }
    if (sessionCancelBtn) {
        sessionCancelBtn.onclick = function () {
            newSessionModal.classList.remove('is-active');
        }
    }

    let form = NaN;
    let url = NaN;
    let inviteForm = document.getElementById('invite-player-form');
    let characterForm = document.getElementById('create-character-form');
    if (inviteForm) {
        form = inviteForm;
        url = '/adventure/invite';
    } else if (characterForm) {
        form = characterForm;
        url = '/character';
    }

    let modalError = NaN;
    let inviteModalError = document.getElementById('invite-modal-error');
    let characterModalError = document.getElementById('character-modal-error');
    if (inviteModalError) {
        modalError = inviteModalError;
    } else if (characterModalError) {
        modalError = characterModalError;
    }

    let createSessionBtn = document.getElementById('create-session-modal-btn');
    if (createSessionBtn) {
        let sessionDatePicker = document.getElementById('session-date');
        let sessionModalError = document.getElementById('session-modal-error');
        createSessionBtn.onclick = function () {
            let date = sessionDatePicker.value;
            const adventureId = parseInt("{{ adventure.id }}");
            let body = JSON.stringify({
                date: date,
                adventure_id: adventureId
            });
            fetch('/session', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: body
            })
            .then(response => {
                if (response.status === 201) {
                    // Handle successful response
                    newSessionModal.classList.remove('is-active');
                    window.location.reload();
                } else if (response.status === 400 || response.status === 403 || response.status === 404) {
                    // Handle error response
                    return response.json();
                } else {
                    // Handle other error responses
                    throw new Error('An error occurred. Please try again later.');
                }
            })
            .then(errorMessage => {
                sessionModalError.classList.remove('is-hidden');
                sessionModalError.textContent = 'Error: ' + errorMessage.detail;
            })
            .catch(error => {
                sessionModalError.classList.remove('is-hidden');
                sessionModalError.textContent = error.message;
            });
        }
    }

    // When the user submits the form, call the invite player endpoint
    form.addEventListener('submit', async (event) => {
        event.preventDefault();
        const formData = new FormData(form);
        const formJSON = Object.fromEntries(formData.entries());
        const adventureId = parseInt("{{ adventure.id }}");
        let body = NaN;
        if (url === '/adventure/invite') {
            body = JSON.stringify({
                email: formJSON.email,
                adventure_id: adventureId
            });
        } else if (url === '/character') {
            body = JSON.stringify({
                name: formJSON.name,
                adventure_id: adventureId
            });
        }
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: body
        })
            .then(response => {
                if (response.status === 201) {
                    // Handle successful response
                    modal.classList.remove('is-active');
                    window.location.reload();
                } else if (response.status === 403 || response.status === 404) {
                    // Handle error response
                    return response.json();
                } else {
                    // Handle other error responses
                    throw new Error('An error occurred. Please try again later.');
                }
            })
            .then(errorMessage => {
                modalError.classList.remove('is-hidden');
                modalError.textContent = 'Error: ' + errorMessage.detail;
            })
            .catch(error => {
                modalError.classList.remove('is-hidden');
                modalError.textContent = error.message;
            });
    });
</script>
{% endblock %}
