<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% block extra_head %}{% endblock %}
    {% block css %}
    <link rel="stylesheet" href="static/css/style.css">
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar">
        <div id="navbar-menu" class="navbar-menu">
            <div class="navbar-start">
                {% if user %}
                <a class="navbar-item" href="/dashboard">Home</a>
                <a class="navbar-item" href="#">{{ user.username }}</a>
                <a class="navbar-item" href="/logout">Logout</a>
                {% else %}
                <a class="navbar-item" href="/login">Login</a>
                <a class="navbar-item" href="/register">Register</a>
                {% endif %}
            </div>
        </div>
        <div class="navbar-brand">
            <h1 class="main-title">{% block main_title %}Adventure Log{% endblock %}</h1>
            <a class="navbar-item" href="#">
                {% block logo %}
                <img src="static/images/quill.png" alt="Logo">
                {% endblock %}
            </a>
        </div>
    </nav>
</header>
{% block content %}{% endblock %}
</body>
</html>
