{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">My Adventures</h1>
        <div class="notification is-danger is-hidden" id="error">{{ error }}</div>
        <div>
            {% for adventure in adventures %}
            <div class="adventure-details">
                <header>
                    <p class="subheading">{{ adventure.type | replace("_", " ") | capitalize }}</p>
                    <h2><a href="{{ url_for('show_adventure', adventure_id=adventure.id) }}">{{ adventure.name }}</a></h2>
                </header>
                <h3>Featuring:</h3>
                <ul>
                    {% for player in adventure.players %}
                    {% if player.role == "dm" %}
                    <!--TODO crown icon-->
                    <li>{{ player.username }} as Dungeon Master</li>
                    {% elif player.character %}
                    <li>{{ player.username }} as {{ player.character.name }}</li>
                    {% else %}
                    <li>{{ player.username }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
            <div class="adventure-details">
                <header>
                    <p class="subheading">Create new adventure</p>
                    <h2><a href="{{ url_for('new_adventure') }}">New story...</a></h2>
                </header>
            </div>
        </div>
    </div>
</section>
{% endblock %}
