{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Register</h1>
        <div class="notification is-danger is-hidden" id="error">{{ error }}</div>
        <form id="register-form" method="POST" action="{{ url_for('create_user') }}">
            <div class="field">
                <label class="label">Username</label>
                <div class="control">
                    <input class="input" id="username" type="text" name="username" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Email</label>
                <div class="control">
                    <input class="input" id="email" type="text" name="email" required>
                </div>
            </div>
            <div class="field">
                <label class="label">Password</label>
                <div class="control">
                    <input class="input" id="password" type="password" name="password" required>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="button is-primary" type="submit">Register</button>
                </div>
            </div>
        </form>
    </div>
</section>
<script>
    const registerForm = document.getElementById('register-form');
    const errorElement = document.getElementById('error');

    registerForm.addEventListener('submit', async (event) => {
        event.preventDefault();
        const formData = new FormData(registerForm);
        const formJSON = Object.fromEntries(formData.entries());
        const response = await fetch('/user', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(formJSON)
        });
        if (response.status === 200) {
            // Redirect to a new page
            window.location.href = response.url;
        } else if (response.status === 409) {
            // Display an error message for already existing user
            const errorMessage = await response.json();
            errorElement.classList.remove('is-hidden');
            errorElement.textContent = 'Error: ' + errorMessage.detail;
        } else {
            // Display a generic error message
            errorElement.classList.remove('is-hidden');
            errorElement.textContent = 'An error occurred. Please try again later.';
        }
    });
</script>
{% endblock %}
